
html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background: black;
}

#protfolio{
    margin: 0px;
    color: rgba(245, 245, 245, 0.821);;
}

.Nav{
    position: sticky;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    top: 0;
    z-index: 100;
}

.links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.Nav a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.821);
    padding: 10px 20px;
}

.Nav a:hover{
    color: #01edfec3;   
    font-style: bold;   
    border-radius: 5px;
}

/* css for home section */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 10px;
    gap: 50px;
    height: 90vh;
    position: relative;
    overflow: hidden;   
}

#home h1 {
    font-size: 2.5rem;
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1.5s ease-out forwards;
}

#home h1 span {
    color: #01edfec3;
}

.div-left a {
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 10px 30px;
}

.div-left a:hover {
    color: #fff;
    border: 2px solid #01edfec3;
    letter-spacing: 0.15rem;
    background-color: rgba(1, 237, 254, 0.2);
}

.div-right div {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 2s ease-out forwards;
}


.div-right img {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.div-right img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* animatiion section in home page */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

/* css for about section */
#about{
    color: white;
    display: flex;
    padding: 200px 200px;
    gap: 20px;
}
#about img{
    border-radius: 5%;
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1.5s ease-out forwards;
}

#about h1{
    font-size: 2.75rem;
    margin: 0;
}

.aboutme p{
    color: rgba(245, 245, 245, 0.821);
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutme #education{
    cursor: pointer;
    font-weight: 800;
    padding-top: 30px;
}

.aboutme #education:hover{
    text-decoration: underline;
    color: rgba(157, 23, 77, 0.821)
}
    
.aboutme #date{
    font-weight: 600;
    color: rgba(245, 245, 245, 0.821);
    padding-top: 20px;
}

/* css for service section */
.service{
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 50px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;   
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.5s ease-out forwards;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #01edfec3;
}

.card h5{
    color: white; 
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: #01edfec3;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #01edfec3;
    cursor: pointer;
}

.pra p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.card:hover .pra p {
    opacity: 1;
    transform: translateY(0);
}

/* css for contact section */
#contact {
    color: #fff;        
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.contact-container {
    background-color: #222; 
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    width: 400px;
    text-align: center;
}

.contact-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #f1f1f1;
}

.contact-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.contact-form label {
    font-size: 14px;
    color: #ccc;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #DB2777;
}

.submit-btn {
    background-color: #DB2777;; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: green;
}